/* --------------------------------------------------- */
/*                   TYPOGRAPHY STYLES                 */
/* --------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsl(var(--foreground));
	font-weight: 700;
	line-height: 1.3;
	margin-top: 2em;
	margin-bottom: 1em;
}

p {
	color: hsl(var(--muted-foreground));
	line-height: 1.6;
	margin-bottom: 1.2em;
}

/* a {
	color: hsl(var(--primary));
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration: none;
} */

strong {
	color: hsl(var(--foreground));
	font-weight: 700;
}

ul,
ol {
	color: hsl(var(--foreground));
	margin-left: 1.5em;
	margin-bottom: 1em;
	list-style-position: inside;
}

blockquote {
	color: hsl(var(--foreground));
	border-left: 4px solid hsl(var(--primary));
	background-color: hsl(var(--primary) / 0.1);
	padding: 1em 1.2em;
	margin: 1.5em 0;
	font-style: italic;
	border-radius: 0.5rem;
}
