/* --------------------------------------------------- */
/*              BLOG TYPOGRAPHY STYLES                 */
/* --------------------------------------------------- */

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
	color: hsl(var(--foreground));
	font-weight: 700;
	line-height: 1.3;
	margin-top: 2em;
	margin-bottom: 1em;
}

.blog-content p {
	color: hsl(var(--muted-foreground));
	line-height: 1.6;
	margin-bottom: 1.2em;
}

.blog-content th {
	color: hsl(var(--foreground));
	font-weight: 600;
	text-align: left;
	padding: 0.75em 1em;
	border-bottom: 2px solid hsl(var(--border));
}

.blog-content td {
	color: hsl(var(--muted-foreground));
	padding: 0.75em 1em;
	border-bottom: 1px solid hsl(var(--border));
}

.blog-content strong {
	color: hsl(var(--foreground));
	font-weight: 700;
}

.blog-content ul,
.blog-content ol {
	color: hsl(var(--foreground));
	margin-left: 1.5em;
	margin-bottom: 1em;
	list-style-position: inside;
	padding: 0;
}

.blog-content blockquote {
	color: hsl(var(--foreground));
	border-left: 4px solid hsl(var(--primary));
	background-color: hsl(var(--primary) / 0.1);
	padding: 1em 1.2em;
	margin: 1.5em 0;
	font-style: italic;
	border-radius: 0.5rem;
}
